;
; disassembly types:
; CODE WORD OFFSET
; Set type of memory:
; ADDR 0123 CODE|WORD|OFFSET
; Set type of memory for range:
; RANGE 0120 02C0 CODE|WORD|OFFSET
;
; ./rest6800 -s 100 -m trace.map -c XONIX.CFG XONIX.CMD >XONIX.ASM
;
ADDR 0148 CODE
ADDR 0260 CODE
RANGE 0154 015F OFFSET
